    {% extends "learning_logs/base.html" %}

    {% block title %}
        Topics
    {% endblock title %}

    {% block content %}
        <p><b>Learning - Topics</b></p>
        <ul>
            {% for topic in topics %}
                <li>
                    <a href="{{ topic.id }}">{{ topic }}</a>
                </li>
            {% empty %}
                <li>
                    No Topics have been added yet.
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'learning_logs:new_topic' %}">Add an new topic</a>
    {% endblock content %}